
.rnAdvanceVideo__resize-handler-top-right,
.rnAdvanceVideo__resize-handler-bottom-right,
.rnAdvanceVideo__resize-handler-top-left,
.rnAdvanceVideo__resize-handler-bottom-left {
    display: none;
    border-radius: 50%;
    border: 2px solid white;
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    background: #00a0d2;
    padding: 0 3px 3px 0;
    box-sizing: border-box;
    cursor: se-resize; }
.rnVideoResizer.is-focused .rnAdvanceVideo__resize-handler-top-right, .rnVideoResizer.is-focused
.rnAdvanceVideo__resize-handler-bottom-right, .rnVideoResizer.is-focused
.rnAdvanceVideo__resize-handler-top-left, .rnVideoResizer.is-focused
.rnAdvanceVideo__resize-handler-bottom-left {
    display: block;
    z-index: 1; }

/*!rtl:begin:ignore*/
.rnAdvanceVideo__resize-handler-top-right {
    top: -6px !important;
    right: -6px !important; }

.rnAdvanceVideo__resize-handler-top-left {
    top: -6px !important;
    left: -6px !important; }

.rnAdvanceVideo__resize-handler-bottom-right {
    bottom: -6px !important;
    right: -6px !important; }

.rnAdvanceVideo__resize-handler-bottom-left {
    bottom: -6px !important;
    left: -6px !important; }

.resizeButton i{
    padding: 6px;
    border-radius: 4px;
    margin-left: 5px;
    border:1px transparent solid;
}

.resizeButton i:before{
    margin-left: -4px;
}

.resizeButton:focus i,.resizeButton:hover i{
    border-color:#555d66;
}